- function rev(path) { return (locals[path] || path).substring(6); }

doctype html
html
  head
    title Mithril Todos
    if compileDebug
      script(src='//localhost:9091' type='text/javascript' defer)
    script(src=rev('public/app.js') type='text/javascript' defer)
    link(href=rev('public/app.css') media='screen' rel='stylesheet')
  body
