- function rev(path) { return (locals[path] || path).substring(6); }

doctype html
title Mithril Todos
link(href=rev('public/app.css') media='screen' rel='stylesheet')
script(src=rev('public/app.js') type='text/javascript' defer)
