.action {
  background: white;
  border: none;
  bottom: 0;
  cursor: pointer;
  color: @gray-50;
  padding: 1.5rem 1.8rem;
  position: absolute;
  top: 0;
  width: 5.0rem;

  &:hover {
    color: @gray-10;
  }
}

.clear {
  right: 0;

  .fa:before {
    content: @fa-var-remove;
  }
}

.description {
  font-weight: 300;

  .done & {
    text-decoration: line-through;
  }
}

.newTodo {
  margin: 0;
  position: relative;

  #description {
    border: none;
    margin: 0;
    padding: 1.5rem 1.5rem 1.5rem 5.0rem;
    width: 100%;
  }
}

.status {
  .fa();
  left: 0;
  padding: 1.8rem;
  position: absolute;
  top: 0;

  &:before {
    content: @fa-var-square-o;

    .done & {
      content: @fa-var-check-square-o;
    }
  }
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.todo {
  border-bottom: 1px solid @gray-80;
  cursor: pointer;
  padding: 1.5rem 0 1.5rem 5.0rem;
  position: relative;

  &:hover {
    background: @gray-80;
  }
}

.todos {
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0;
}

.toggleAll {
  left: 0;

  .fa:before {
    content: @fa-var-square-o;
  }

  .fa.allDone:before {
    content: @fa-var-check-square-o;
  }
}
