// colors

@gray-base:     #000;
@gray-darkest:  lighten(@gray-base,  5%);
@gray-darker:   lighten(@gray-base, 20%);
@gray-dark:     lighten(@gray-base, 35%);
@gray:          lighten(@gray-base, 50%);
@gray-light:    lighten(@gray-base, 65%);
@gray-lighter:  lighten(@gray-base, 80%);
@gray-lightest: lighten(@gray-base, 95%);

// icons

@fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts";
@fa-li-width: 2.5rem;
